/* div{
    background-color: #FCDDB0;
    margin-top: 0%;
} */
body{
    margin-left: 0%;
    margin-top: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    
    
}
h1{
    margin: 50px auto 0 auto;
    /* font-family: 'Michroma', sans-serif; */
    /* padding: 100px auto 0 auto; */
    color: #E97777;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
}
h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    color: #E97777;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    color: 
    #FF9F9F;
}
.bottom {
    /* height: 200px;
    width: 200px; */
    /* background-color: red; */
/*    
    margin-left: 500px ;
    border: solid 10px; */
    background-color: #FFFAD7;
    margin-top: 50px;
}
.middle {
    /* height: 200px;
    width: 200px;
    background-color: blue;
    border: solid 20px;
    margin-left: 260px;

     */
margin-top: 50px;
    
}
.top {
    /* height: 200px;
    width: 200px; */
    background-color: #FCDDB0;
    margin-top: 0%;
   
    position: relative;
    
    padding-top: 100px;
    
   
}
.top-cloud{
    position: absolute;
   right: 300px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
a{
    color: #FF9F9F;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.img1{
    width: 25%;
   float: left;
   margin-right: 30px;
}
.img2{
    width: 25%;
   float: right;
   margin-right: 30px;
}
.img3{
    width: 25%;
   float: left;
   margin-right: 30px;
}
hr{
    border-color:#EAF6F6;
    border-style: none;
    border-top-style: dotted;
     border-width: 7px;
    
    /* height: 2px; */
    width: 5%;
    margin-top: 70px ;
    margin-bottom: 70px;
}
pre{
    /* margin-top: 50px; */
   padding: 30px;
}
.copy{
    padding:0 20px 40px 20px; 
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .getin{
    margin-bottom: 40px;
  }